.hero {
  width: 100%;
}

h1 {
  font-size: 7vw;
  font-weight: bold;

  text-align: center;
}

.subheading {
  text-align: center;
  width: 80%;
  line-height: 1.4em;
  margin-top: 10px;
  font-size: 20px;
  max-width: 800px;
}

h3 {
  margin-top: 50px;
}

.icons {
  width: 48px;
  height: 48px;
}

.grid {
  width: 100%;
  margin-top: 20px;

  justify-items: center;
  padding: 0 25px 0 25px;
}

h2 {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}

.feature-sub {
  text-align: center;
  width: 80%;
  margin-top: 10px;
}

.learn-picture {
  width: 50%;
}
.main-illustration {
  width: 60vw;
  min-width: 400px;
}
